.value .bottone {
  display: inline-block;
  max-width: 100%;
  padding: .375rem .75rem .375rem .75rem;
  color: #55595c;
  vertical-align: middle;
  border: 1px solid #ccc;
      border-top-color: rgb(204, 204, 204);
      border-right-color: rgb(204, 204, 204);
      border-bottom-color: rgb(204, 204, 204);
      border-left-color: rgb(204, 204, 204);
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 1.071em;
  color: #7e7e7e;
  border-color: #e3e3e3;
}

.single-product table.variations td.value select#quantita {
	padding: .375rem .75rem .375rem .75rem;
	background: #fff url() no-repeat right .75rem center;
	background-size: 8px 10px;
  text-align: center;
}
